.recentlyWatched {
    width: 1233px;
    margin: 0 auto;
    color: white;

    .recentlyWatchedHeader {
        height: 64px;
        display: flex;
        justify-content: space-between;


        span {
            font-size: 48px;
            font-weight: 500;
        }

        button {
            transition-duration: 0.5s;
            background-color: transparent;
            color: #FED530;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
        }

        button:hover {
            transition-duration: 0.5s;
            padding-bottom: 10px;
        }
    }


    .movies {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 20vh;
        background-position: center;

        .movie {
            width: 400px;
            height: 560px;
        }

        .categories {
            color: black;
            border-top-right-radius: 1em;
            border-top-left-radius: 1em;
            display: flex;
            flex-wrap: wrap;
        }

        .category {
            display: grid;
            place-content: center;
            height: 27px;
            margin-top: 26px;
            margin-left: 24px;
            border-radius: 16px;
            padding: 2px 8px;
            background-color: #FED530;

        }

        .runTime {
            color: #CCCCCC;
            margin-left: 26px;
            display: flex;
            gap: 1vw;
            align-items: center;
            height: 25px;
            position: relative;
            top: 252px;
        }

        .title {
            color: white;
            margin-left: 26px;
            font-size: 48px;
            font-weight: 700;
            position: relative;
            top: 262px;
            -webkit-text-stroke-width: 0.7px;
            -webkit-text-stroke-color: #000;
        }

    }
}

@media (max-width:800px) {
    .recentlyWatched {
        width: 90vw;

        .recentlyWatchedHeader {
            height: 36px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5vh;

            span {
                font-size: 32px;
                font-weight: 500;
            }

        }

        .movies {
            .movie {
                width: 29.33vw;
                height: 43vh;
                background-image: linear-gradient(to bottom,
                        #323232,
                        #020202);
                border-radius: 1em;
            }

            .categories {
                height: 21vh;
            }

            .category {
                font-size: 12px;
                height: 13px;
                background-color: #FED530;

            }

            .runTime {
                height: 20px;
            }

            .title {
                font-size: 24px;
            }
        }
    }
}

@media (max-width:400px) {
    .recentlyWatched {

        .recentlyWatchedHeader {
            height: 24px;
            display: flex;
            justify-content: space-between;

            span {
                font-size: 24px;
                font-weight: 500;
            }
        }


        .movies {
            gap: 0.5vh;
            
            .movie {
                width: 44.5vw;
                height: 27vh;
                background-image: linear-gradient(to bottom,
                        #323232,
                        #020202);
                border-radius: 1em;
            }


            .categories {
                height: 15vh;
            }

            .category {
                font-size: 10px;
                background-color: #FED530;

            }

            .runTime {
                height: 10px;
            }

            .title {
                font-size: 13px;
            }
        }
    }
}