.containerFilms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
    gap: 60px;

    .pageTitle {
        width: 1320px;
        font-size: 48px;
        font-weight: 500;
    }
    
    .card {
        width: 400px;
        height: 560px;
        display: flex;
        flex-wrap: wrap;

        .subTitle {
            padding: 0.5rem;
        }

        .movieGenders {
            width: 400px;
            height: 20px;
            margin-left: 10px;
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;

            .gender {
                color: #2E2E2E;
                font-weight: 400;
                font-size: 14px;
                border-radius: 16px;
                background-color: #FED530;
                padding: 1.5px 8px;
            }
        }

        .movieDuration {
            -webkit-text-stroke-width: 0.2px;
            -webkit-text-stroke-color: #000;
            position: relative;
            gap: 10px;
            height: 20px;
            color: #CCCCCC;
            display: flex;
            align-items: center;
            font-size: 14px;
            top: 252px;
            font-weight: 900;
        }

        .movieTitle {
            -webkit-text-stroke-width: 0.7px;
            -webkit-text-stroke-color: #000;
            color: white;
            display: flex;
            position: relative;
            font-weight: 700;
            width: 400px;
            height: 64px;
            font-size: 48px;
            top: 284px;
        }
    }
}

@media screen and (max-width: 800px) {
    .containerFilms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #ffffff;
        justify-content: center;
        gap: 1rem;

        .card {
            width: (calc(90% / 3));
            height: 180px;         

            .genders {               

                .gender {                    
                    font-size: 10px;                   
                    padding: 0.2rem;
                }
            }         

            .imageFilm {
                height: 90%;
            }

            .duration {
                margin-bottom: 5vh;
                bottom: 0;
                font-size: 0.6rem;
            }

            .title {
                word-wrap: break-word;                
                font-size: 0.8rem;
                
                bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .containerFilms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #ffffff;
        justify-content: center;
        gap: 1rem;

        .card {
            width: (calc(90% / 2));
            height: 150px;         

            .genders {      
                
                .gender {                    
                    font-size: 7px;                   
                    padding: 0.2rem;
                }
            }         

            .imageFilm {
                height: 80%;
            }

            .duration {
                margin-bottom: 5vh;
                font-size: 0.5rem;
            }

            .title {
                               
                font-size: 0.5rem;
                bottom: 0;
            }
        }
    }
}