body {
  font-family: DM Sans;
  margin: 0;
  border: 0;
  text-decoration: none;
  background-image: linear-gradient(to right,
      #323232,
      #020202);

}

::-webkit-scrollbar{
  width: 10px;
  background: black;
}

::-webkit-scrollbar-track {
  margin: 5px 0;
  background: black;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #FED530;
  border-radius: 10px;
}