* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.topMovies {
    width: 90vw;
    margin: 0 auto;

    .topMoviesHeader {
        height: 64px;
        display: flex;
        justify-content: space-between;
        color: white;

        span {
            font-size: 48px;
            font-weight: 500;
        }

        button {
            background-color: transparent;
            color: #FED530;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
        }
    }


    .movies {
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        margin-bottom: 20vh;
        background-image: linear-gradient(to bottom,
                #323232,
                #020202);
        background-position: center;


        .firstMovie {
            width: 59.67vw;
            height: 65vh;

        }

        .viewMoreMovie {
            width: 29.33vw;
            height: 65vh;
        }

        .viewMoreCategories {
            margin-top: 2vh;
            height: 10vh;
            display: flex;
            flex-wrap: wrap;
        }

        .viewMoreCategory {
            display: grid;
            place-content: center;
            height: 27px;
            margin: 2vh 0 0 2vw;
            border-radius: 16px;
            padding: 2px 8px;
            background-color: #FED530;
        }

        .viewMoreRunTime {
            color: #CCCCCC;
            margin-top: 33vh;
            margin-left: 1vw;
            display: flex;
            gap: 1vw;
            align-items: center;
            height: 25px;
        }

        .viewMoreTitle {
            color: #CCCCCC;
            margin-top: 2vh;
            margin-left: 1vw;
            font-size: 32px;
            font-weight: 700;
        }

        .movie {
            width: 29.33vw;
            height: 65vh;
            background-image: linear-gradient(to bottom,
                    #323232,
                    #020202);
            background-position: center;

        }

        .categories {
            margin-top: 2vh;
            height: 10vh;
            display: flex;
            flex-wrap: wrap;
        }

        .category {
            display: grid;
            place-content: center;
            height: 27px;
            margin: 2vh auto;
            border-radius: 16px;
            padding: 2px 8px;
            background-color: #FED530;
        }

        .moviePhoto {
            margin-top: 7vh;
            height: 27vh;
        }

        .runTime {
            color: #CCCCCC;
            margin-top: 2vh;
            margin-left: 1vw;
            display: flex;
            gap: 1vw;
            align-items: center;
            height: 25px;
        }

        .title {
            color: #CCCCCC;
            margin-top: 2vh;
            margin-left: 1vw;
            font-size: 32px;
            font-weight: 700;
        }

    }
}