* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.topMoviesSection {
    width: 1233px;
    margin: 0 auto;
    color: white;

    .topMoviesHeader {
        height: 64px;
        display: flex;
        justify-content: space-between;


        span {
            font-size: 48px;
            font-weight: 500;
        }

        button {
            transition-duration: 0.5s;
            background-color: transparent;
            color: #FED530;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
        }

        button:hover {
            transition-duration: 0.5s;
            padding-bottom: 10px;
        }
    }


    .movies {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 20vh;
        background-position: center;

        .firstMovie {
            width: 817px;
            height: 560px;
        }

        .viewMoreMovie {
            width: 400px;
            height: 560px;
        }

        .viewMoreCategories {
            color: black;
            margin-top: 2vh;
            height: 10vh;
            display: flex;
            flex-wrap: wrap;
        }

        .viewMoreCategory {
            display: grid;
            place-content: center;
            height: 27px;
            margin: 26px 0 0 24px;
            border-radius: 16px;
            padding: 2px 8px;
            background-color: #FED530;
        }

        .viewMoreRunTime {
            color: #CCCCCC;
            position: relative;
            margin-top: 328px;
            margin-left: 1vw;
            display: flex;
            gap: 1vw;
            align-items: center;
            height: 25px;
            font-size: 14px;
            -webkit-text-stroke-width: 0.1px;
            -webkit-text-stroke-color: #000;

        }

        .viewMoreTitle {
            color: #CCCCCC;
            margin-top: 2vh;
            margin-left: 1vw;
            font-size: 48px;
            font-weight: 700;
            -webkit-text-stroke-width: 0.7px;
            -webkit-text-stroke-color: #000;
        }

        .movie {
            width: 400px;
            height: 560px;
        }

        .categories {
            color: black;
            border-top-right-radius: 1em;
            border-top-left-radius: 1em;
            display: flex;
            flex-wrap: wrap;
        }

        .category {
            display: grid;
            place-content: center;
            height: 27px;
            margin-top: 26px;
            margin-left: 24px;
            border-radius: 16px;
            padding: 2px 8px;
            background-color: #FED530;
        }

        .movieInfos {
            position: relative;
            top: 250px;

            .runTime {
                color: #CCCCCC;
                // margin-top: 238px;
                margin-left: 26px;
                display: flex;
                gap: 1vw;
                align-items: center;
                height: 25px;
            }

            .title {
                color: white;
                margin-left: 26px;
                font-size: 48px;
                font-weight: 700;
                -webkit-text-stroke-width: 0.7px;
                -webkit-text-stroke-color: #000;
            }
        }
    }
}

@media (max-width:800px) {
    .topMoviesSection {
        width: 90vw;

        .topMoviesHeader {
            height: 36px;
            display: flex;
            justify-content: space-between;


            span {
                font-size: 32px;
                font-weight: 500;
            }

            button {
                font-size: 12px;
            }

            button:hover {
                transition-duration: 0.5s;
                padding-bottom: 10px;
            }
        }


        .movies {
            .firstMovie {
                height: 42vh;
                border-radius: 1em;
            }

            .viewMoreMovie {
                height: 42vh;
                border-radius: 1em;
            }

            .viewMoreCategories {
                color: black;
                margin-top: 2vh;
                height: 2vh;
                display: flex;
                flex-wrap: wrap;
            }

            .viewMoreCategory {
                height: 18px;
                font-size: 12px;
            }

            .viewMoreRunTime {
                margin-top: 20vh;
                height: 25px;
                font-size: 20px;
            }

            .viewMoreTitle {
                font-size: 24px;
            }

            .movie {
                width: 29.33vw;
                height: 49vh;
                background-image: linear-gradient(to bottom,
                        #323232,
                        #020202);
                border-radius: 1em;
            }

            .categories {
                height: 21vh;
            }

            .category {
                font-size: 12px;
                height: 13px;
                background-color: #FED530;

            }

            .runTime {
                height: 20px;
            }

            .title {
                font-size: 24px;
            }
        }
    }
}

@media (max-width:400px) {
    .topMoviesSection {

        .topMoviesHeader {
            height: 24px;
            display: flex;
            justify-content: space-between;


            span {
                font-size: 24px;
                font-weight: 500;
            }

            button {
                font-size: 12px;
            }

            button:hover {
                transition-duration: 0.5s;
                padding-bottom: 10px;
            }
        }


        .movies {
            gap: 0.5vh;

            .firstMovie {
                height: 22vh;
            }

            .viewMoreMovie {
                height: 22vh;
            }


            .viewMoreCategory {
                height: 12px;
                font-size: 8px;
            }

            .viewMoreRunTime {
                margin-top: 8vh;
                height: 12px;
                font-size: 10px;

                img {
                    height: 12px;
                }
            }

            .viewMoreTitle {
                font-size: 12px;
            }

            .movie {
                width: 44.5vw;
                height: 27vh;
                background-image: linear-gradient(to bottom,
                        #323232,
                        #020202);
                border-radius: 1em;
            }


            .categories {
                height: 15vh;
            }

            .category {
                font-size: 10px;
                background-color: #FED530;

            }

            .runTime {
                height: 10px;
            }

            .title {
                font-size: 13px;
            }
        }
    }
}