.containerFooter {
    margin: 5vh 0;
    display: flex;
    width: 99.3vw;
    height: 50vh;

    .sectionOne {
        display: grid;
        place-content: center;
        gap: 10px;
        width: 30vw;
        background-color: #3D3D3D;
        padding: 1rem;

        .headerOne {
            width: 20rem;
            height: 5.5rem;
            font-weight: 500;
            font-size: 4rem;
            color: #ffffff
        }

        .headerTwo {
            width: 20rem;
            height: 6rem;
            left: 6.5rem;
            top: 352rem;
            font-weight: 400;
            font-size: 1rem;
            line-height: 2rem;
            color: #E6E6E6;
        }

        .headerThree {
            width: 8.1rem;
            height: 1.5rem;
            left: 6.5rem;
            top: 360rem;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #FFFFFF;
        }

        .form {
            display: flex;
            align-items: center;
            width: 17.6rem;
            height: 4rem;
            left: 6.5rem;
            top: 363rem;
            background-color: #525252;
            border-radius: 0.5rem;
            justify-content: space-between;

            input {
                width: 13rem;
                left: 6.5rem;
                border-style: none;
                background-color: #525252;
                color: #ffffff;
                outline: 0;
                margin-left: 1vw;
            }

            .btnEmail {
                width: 3rem;
                height: 3rem;
                margin-right: 10px;
                background-color: #FED530;
                border-radius: 0.5rem;
                cursor: pointer;

                .setaFooter {
                    height: 1.5rem;
                    width: 1.5rem;
                    left: 0.75rem;
                    top: 0.75rem;
                }
            }
        }
    }

    .subContainerFooter {
        background-color: #2E2E2E;
        display: flex;
        flex-wrap: wrap;
        width: 70vw;
        color: #FFFFFF;

        .subContainerSection {
            font-size: 16px;
            color: #E6E6E6;
            display: flex;
            flex-direction: column;
            gap: 3vh;
            width: 15vw;
            height: 25vh;
            margin-left: 5vw;
            margin-top: 5vh;

            p {
                font-weight: 400;
            }

            .title {
                font-weight: 700;
            }
        }

        .sectionThree {
            height: 20vh;
            width: 60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3vw;

            span {
                display: flex;
                align-items: center;

                img {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .containerFooter {
        width: 100vw;

        .sectionOne {
            gap: 5px;
            width: 30vw;
            background-color: #3D3D3D;

            .headerOne {
                width: 20vw;
                font-weight: 500;
                font-size: 32px;
                line-height: 5.5rem;
                color: #ffffff
            }

            .headerTwo {
                width: 25vw;
                font-size: 12px;
                color: #E6E6E6;
            }

            .headerThree {
                font-size: 12px;
                color: #FFFFFF;
            }

            .form {
                width: 25vw;

                input {
                    width: 18vw;
                    margin-left: 1vw;
                }

                .btnEmail {
                    margin-right: 5vw;
                    cursor: pointer;

                    .setaFooter {
                        height: 30px;
                        width: 30px;
                        left: 0rem;
                        top: 0rem;
                    }
                }
            }
        }

        .subContainerFooter {

            .subContainerSection {
                font-size: 12px;
            }

            .sectionThree {
                font-size: 8px;
            }
        }
    }
}

@media (max-width: 400px) {
    .containerFooter {
        width: 100vw;

        .sectionOne {
            gap: 5px;
            width: 40vw;
            background-color: #3D3D3D;

            .headerOne {
                display: flex;
                align-items: center;
                width: 20vw;
                height: 7vh;
                font-size: 16px;
            }

            .headerTwo {
                display: flex;
                align-items: center;
                width: 25vw;
                font-size: 8px;
            }

            .headerThree {
                display: flex;
                align-items: center;
                height: 8vh;
                font-size: 8px;
            }

            .form {
                width: 31vw;
                height: 8vh;

                input {
                    width: 24vw;
                    margin-left: 1vw;
                }

                .btnEmail {
                    height: 4vh;
                    cursor: pointer;
                    margin-right: 1vw;
                    width: 6vw;

                    .setaFooter {
                        height: 15px;
                        width: 15px;
                    }
                }
            }
        }

        .subContainerFooter {

            .subContainerSection {
                font-size: 8px;
            }

            .sectionThree {
                font-size: 6px;
            }
        }
    }
}
